page-settings {

    .item-label-stacked {
        font-size: 90%;
        color: grey;
    }
    
    .center-text {
        text-align: center;
    }

    .smallfont {
        font-size: 1.25rem;
    }
}
